<nav class="navbar navbar-expand-lg navbar-default" style="margin-bottom: 10px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/home/catalogue">Catalogue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/home/wishlist">Wishlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/home/notifications">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/home/admin">Admin</a>
            </li>
        </ul>
    </div>

    <button class="btn btn-dark">Log out</button>
</nav>