<div ng-controller="CatalogueController">
    <!-- TODO: Add a search by dropdown -->

    <!-- <input style="margin: 10px;width: 400px; border-style: double; border-color: black; border-width: 1px" class="form-control"
        type="text" placeholder="Search" ng-model="search.Title" ng-show="searchBookBy=='Title'"> -->
    <input type="text" placeholder="Search" ng-model="search.Title" ng-show="searchBookBy=='Title'">
    <input type="text" placeholder="Search" ng-model="search.Author" ng-show="searchBookBy=='Author'">
    <input type="text" placeholder="Search" ng-model="search.Genre" ng-show="searchBookBy=='Genre'">

    <label>Search By:</label>
    <select ng-model="searchBookBy" ng-change="clearSearchFields()" required>
        <option value="" selected>Choose here</option>
        <option value="Title">Title</option>
        <option value="Author">Author</option>
        <option value="Genre">Genre</option>
    </select>

    <br>
    <br>

    <div class="row">
        <div ng-repeat="book in booksList | filter:search">

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" ng-model="selectedBookTitle">{{book.Title}}</h5>
                        <p class="card-text">{{book.Title}} by {{book.Author}}
                            <br/> Genres: {{book.Genre[0]}} 
                        </p>
                        <button class="btn btn-primary" ng-click="issueBook()">Get this book</a>
                    </div>
                </div>
            </div>

            <br>
            <br>
        </div>
    </div>

</div>