<div ng-controller="CatalogueController">
    <!-- TODO: Add a search by dropdown -->
    <input type="text" placeholder="Filter">

    <br>
    <br>
<!-- 
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="background-color: black">
                foo
            </div>
            <div class="col-sm-3" style="background-color: blue">
                foo
            </div>
            <div class="col-sm-3" style="background-color: green">
                foo
            </div>
            <div class="col-sm-3" style="background-color: red">
                foo
            </div>
            <div class="col-sm-3" style="background-color: orange">
                foo
            </div>
        </div>
    </div> -->


    <div class="row">
        <div ng-repeat="book in booksList">

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{book.Title}}</h5>
                        <p class="card-text">{{book.Title}} by {{book.Author}}
                            <br/> Genres: {{book.Genre[0]}}
                        </p>
                        <button class="btn btn-primary">Get this book</a>
                    </div>
                </div>
            </div>

            <br>
            <br>
        </div>
    </div>


</div>